@mixin minwidth($width) {
    @media only screen and (min-width: $width) {
        @content;
    }
}
@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body{
    font-size: 14px;
    @include minwidth(768px) {
        font-size: 16px;     
    }
    font-family: 'Poppins';
}
// font color
$prmary-font-color: #ffffff;
$secondary-font-color: #0d0a0a;
// section color
$primary-sec-color:#fff;
$sec-sec-color: #ffffff;

.container{
    @include minwidth(1400px) {
        width: 1620px;      
    }
}

// header menu css start
.headerr{
    background-color: $sec-sec-color;      
    position: sticky;
    top: 0px;
    z-index: 33;
}
.hdr_row{
    width: 100%;
    padding: 20px; 
    display: flex;  
    flex-wrap: wrap;
    .hdr_logo{   
        width: 20%; 
    .billo{
        font-size: 24px;    
        font-weight: 600;   
    }
} 
}
.hdr_menu{
    width: 80%;   
    display: none; 
    @include minwidth(768px) {
        display: initial;     
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;
        align-items: center;
        li{position: relative;
            list-style: none;
            padding: 0px 15px;
            margin: 0px 7px;
            @include minwidth(992px) {
                margin: 0px 15px; 
            }         
            a{
                text-decoration: none;
                color: $secondary-font-color;
                font-weight: 600;
                font-size: 14px;                
            }  
            a.active{
                color: rgb(30, 27, 227)!important;    
            }        
        }
    }
}
.hdr_menu ul li:hover{ 
    a{
        color: rgb(30, 27, 227);                 
     }
}
.menu_trans li a::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 7px;
    height: 3px;
    width: 0%;
    background: #34efdf;
    border-radius: 12px;
    transition: all 0.4s ease;
}
.menu_trans li a:hover:before{
    width: 80%;
  }
#page{
    width: 80%;
    display: flex;
 justify-content: end;
 @include minwidth(768px) {
    display: none;  
}
}
.fa-bars{
    color: $secondary-font-color!important;
    font-size: 24px!important;   
}
// header menu css end
// bannar row css start
#bannar_sec{
    background-image: url(../image/ofice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.banar_ovlay{
    background-color: rgba(0, 200, 255, 0.612);
    padding: 50px 0px;        
    @include minwidth(768px) {
        padding: 100px 10px;  
    } 
}
.bannar-row{
   max-width: 780px;
   margin: auto;  
   padding: 0px 10px;
   @include minwidth(768px) {
    padding: 10px 100px;  
} 
   .banar_hdng{
        color: $prmary-font-color;
        font-size: 18px;
        text-align: center;     
        font-weight: 600;
        @include minwidth(768px) {
            font-size: 28px;
            @include minwidth(992px) {
                font-size: 35px;
            } 
        } 
    }
}
.banar_p{
    color: $prmary-font-color;
    text-align: center;
    padding: 10px 10px;
    @include minwidth(768px) {
        padding: 10px 40px;
    }
}
.bttn_get_started{
    width: 140px;
    height: 40px;
    display: block;   
    color: $primary-sec-color;
    text-decoration: none;  
    display: flex;  
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0px;
    padding: 0px;
    background: linear-gradient(to right, rgb(3, 6, 109), rgb(42, 46, 173));
    margin: auto;
    transition: .2s linear;
    &:hover{
        background: linear-gradient(to right, rgb(13, 18, 150), rgb(69, 74, 217));
        transform: translateY(-4px);
    }
}
// bannar css end
// service css start
#service{
    padding: 80px 0px;
    .service_hding{
        font-weight: 600;
        font-size: 35px;   
    }
    .devider{
        height: 3px;
        width: 70px;
        margin-bottom: 40px;
        background: linear-gradient(to right, rgba(77, 82, 227, 0.521),rgb(7, 13, 172));
        margin: auto;    
    }
    .service_p{
        max-width: 720px;
        color: $secondary-font-color;  
        margin: auto;      
        padding: 15px 0px;
    }
}
.card_row{
    margin-top: 20px;  
}
.card{
    border: 0px;
    position: relative;
    img{
        max-width: 100%;
        height: 150px;
        margin: auto;
        object-fit: cover;
    }
    i{
        position: absolute;
        top: 42%;
        left: 45%;
        color: $prmary-font-color;
        background: linear-gradient(to right, rgba(39, 45, 222, 0.521),rgb(5, 10, 137));
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        border-radius: 50%;
        @include minwidth(768px) {
        top: 32%;
        }
        @include minwidth(992px) {
            top: 37%;
            }
    }
}
.card-body{
    margin-top: 30px;
    .card-title{
        font-size: 20px;
        font-weight: 600;
    }
}
// service css end
// watch our video css start
#about{
    background-image: url(../image/w.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
.wtch_vdo_row{
    max-width: 780px;
    margin: auto;
    text-align: center;   
    .wtch_vdo_hding{
        color: $prmary-font-color;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
        margin-bottom: 20px;
        @include minwidth(650px) {
        font-size: 35px;   
        }
    }
    .watch_vdo_devider{      
        height: 3px;
        width: 70px;
        margin-bottom: 40px;
        background: linear-gradient(to right, rgba(77, 82, 227, 0.521),rgb(7, 13, 172));
        margin: auto;    
    }
}
.watch_vdo_p{
    color: $prmary-font-color;
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding-top: 20px;
}
.video-btn{
    color: $prmary-font-color;
    display: inline-flex;
    width: 60px;
    height: 60px;
    text-decoration: none;
    background: linear-gradient(to right, rgb(3, 6, 109), rgb(42, 46, 173));
    border-radius: 50%;
    justify-content: center;
    align-items: center;
  display: inline-flex; 
  margin: 10px auto;
    &:hover{
        background: linear-gradient(to right, rgb(13, 18, 150), rgb(69, 74, 217));
        transform: translateY(-4px);
    }
}
// watch our video css end




